.activeStyle {
  background-color: white;
}

.activeStyle:active {
  background-color: white;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
}

li {
  padding: 0.5rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.links {
  margin: 2rem 0 0 0;
  list-style: none;
}

a {
 cursor: pointer;
 text-decoration: none;
}

