<div class="flex-column pt-4 bg-success vh-100">
  <ul class="links">
    <li routerLinkActive="activeStyle">
      <a
        routerLink="/customers"
        class="text-dark"
      >
      <i class="fa-solid fa-users"></i> Customers
      </a>
    </li>
    <li routerLinkActive="activeStyle">
      <a
        routerLink="/contacts"

        class="text-dark"
        >
        <i class="fa-solid fa-address-book"></i> Contacts
      </a>
    </li>
    <li routerLinkActive="activeStyle">
      <a routerLink="/leads" routerLinkActive="activeStyle" class="text-dark">
        <i class="fa-solid fa-star"></i> Leads

      </a>
    </li>
    <li routerLinkActive="activeStyle">
      <a routerLink="/reports" routerLinkActive="activeStyle" class="text-dark">
        <i class="fa-solid fa-flag"></i> Reports
      </a>
    </li>

  <li routerLinkActive="activeStyle">
      <a
        routerLink="/intergration"
        routerLinkActive="activeStyle"
        class="text-dark"
      >
      <i class="fa-brands fa-yandex-international"></i> Intergrations
      </a>
    </li>
    <li routerLinkActive="activeStyle">
      <a
        routerLink="/yearendsale"
        routerLinkActive="activeStyle"
        class="text-dark"
      >
      <i class="fa-solid fa-sack-dollar"></i> Year-end Sale

      </a>
    </li>
  </ul>
</div>
